[Unit]
Description=BotBinance - Dashboard Flask
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/botbinance
ExecStart=/opt/botbinance/venv/bin/python dashboard.py
Restart=always
RestartSec=5
StandardOutput=append:/opt/botbinance/logs/dashboard.log
StandardError=append:/opt/botbinance/logs/dashboard_erro.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
